---
import Layout from '../../layouts/Layout.astro';
import { translations } from '../../i18n/translations';

const t = translations.en;
---

<Layout title={`${t.nav.knotRemovalLabel} - ${t.nav.fable5}`} lang="en">
  <style>
    .knot-removal-container {
      width: 100%;
      height: calc(100vh - 72px);
      margin: 0;
      padding: 0;
      border: none;
      display: block;
    }
    .knot-removal-iframe {
      width: 100%;
      height: 100%;
      border: none;
      display: block;
    }
  </style>
  <div class="knot-removal-container">
    <iframe class="knot-removal-iframe" src="/knot-removal-app/" title="B-Spline Knot Removal"></iframe>
  </div>
</Layout>
